$-decoration-line-height: 4px;
$-badge-height: 34px;

%popup-position {
  position: absolute;
  top: 100%;
  z-index: 102;
  margin-top: map-get($spacers, 1);
}

%popup-style {
  background-color: $color-primary-white;
  border-radius: map-get($radius, 'submenu');
  border: 2px solid $color-accent-base;
  box-shadow: 0 12px 19px -9px $color-accent-light;
}

%hover-area {
  position: relative;
  &::before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    right: map-get($spacers, 2) * -1;
    bottom: (map-get($spacers, 3) + map-get($spacers, 2) + 4rem) * -1;
    left: map-get($spacers, 2) * -1;
    z-index: 101;
  }
}

.header {
  cursor: default;
  ul {
    @include ul-reset;
  }
  display: flex;
  background-color: $color-primary-white;
  position: relative;
  padding-bottom: $-decoration-line-height;
  &::after {
    display: block;
    content: '';
    height: $-decoration-line-height;
    @include gradient('header-decoration', 90deg);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  .brand {
    display: flex;
    align-items: center;
    @include rtl {
      margin-right: map-get($spacers, 3);
      margin-left: map-get($spacers, 5);
    }
    @include ltr {
      margin-left: map-get($spacers, 3);
      margin-right: map-get($spacers, 5);
    }
    .brand-badge {
      border-radius: $-badge-height / 2;
      height: $-badge-height;
      padding: map-get($spacers, 1) map-get($spacers, 3);
      @include gradient('badge', 180deg);
      color: $color-primary-white;
      font-weight: bold;
      display: flex;
      align-items: center;
    }
  }
  .nav-menu {
    a {
      @include a-reset;
    }
    > ul {
      display: flex;
      .menu-item {
        padding-top: map-get($spacers, 3);
        padding-bottom: map-get($spacers, 3);
        @include ltr {
          margin-right: map-get($spacers, 4);
        }
        @include rtl {
          margin-left: map-get($spacers, 4);
        }
        color: $color-accent-washed;
        .menu-item-label {
          display: block;
        }
        &.has-submenu {
          .menu-item-label {
            @extend %hover-area;
          }
        }
        .submenu {
          display: none;
          position: absolute;
          @extend %popup-position;
          @extend %popup-style;
          padding-top: map-get($spacers, 2);
          padding-bottom: map-get($spacers, 2);
          @include rtl {
            margin-right: map-get($spacers, 1) * -1;
          }
          @include ltr {
            margin-left: map-get($spacers, 1) * -1;
          }
          .submenu-item {
            color: $color-accent-dark;
            padding-left: map-get($spacers, 1);
            padding-right: map-get($spacers, 1);
            .submenu-link {
              display: block;
              padding: map-get($spacers, 1) map-get($spacers, 2);
              border-radius: map-get($radius, 'default');
            }
            &:hover {
              .submenu-link {
                background-color: $color-accent-highlight;
              }
            }
          }
        }
        &:hover {
          color: $color-accent-dark;
          .menu-item-label::before {
            display: block;
          }
          .submenu {
            display: block;
          }
        }
      }
    }
  }
  .login-item {
    @include rtl {
      margin-left: map-get($spacers, 3);
      margin-right: auto;
    }
    @include ltr {
      margin-right: map-get($spacers, 3);
      margin-left: auto;
    }
    padding-top: map-get($spacers, 3);
    padding-bottom: map-get($spacers, 3);
    color: $color-accent-washed;
  }
  .login-popup-wrapper {
    @extend %popup-position;
    left: map-get($spacers, 1);
    min-width: 300px;
  }
  .login-popup {
    @extend %popup-style;
    padding: map-get($spacers, 2);
  }
  .active {
    color: $color-accent-dark;
  }
}
