// @mixin -divider-top()
$-padding-x: map-get($spacers, 3) + map-get($spacers, 1);
$-padding-y: map-get($spacers, 2) + map-get($spacers, 1);
$-icon-size: 22px;
$-selected-arrow-size: 30px;

%padding-reset {
  margin-left: 0;
  margin-right: 0;
  padding-left: $-padding-x;
  padding-right: $-padding-x;
  .actions {
    @include rtl {
      padding-left: $-padding-x;
    }
    @include ltr {
      padding-right: $-padding-x;
    }
  }
  &.hoverable::before {
    display: none;
  }
  &::after {
    @include rtl {
      left: 0;
    }
    @include ltr {
      right: 0;
    }
  }
}
.subjects-list {
  overflow: hidden;
  color: $color-primary-gray-darker;
  @include ul-reset;
  li {
    cursor: default;
    position: relative;
    margin-left: $-padding-x;
    margin-right: $-padding-x;
    padding-top: $-padding-y;
    padding-bottom: $-padding-y;
    &.type-chapter {
      background-color: $color-divider-lighter;
      font-weight: $font-weight-bold;
      @extend %padding-reset;
    }
    &.type-unit {
      font-weight: $font-weight-bold;
      border-bottom: $border-width-thick solid $color-divider-normal;
    }
    &.type-lesson {
      border-bottom: $border-width-thin solid $color-divider-normal;
    }
    &.remove-border {
      border: none;
    }
    &.wide-border {
      border-width: $border-width-thick;
      @extend %padding-reset;
    }
    &:last-child {
      border: none;
    }

    &.hoverable {
      cursor: pointer;
      &::before { // extending clickable area
        position: absolute;
        content: '';
        display: block;
        top: 0;
        left: $-padding-y * -2;
        width: calc(100% + #{$-padding-x * 2});
        height: 100%;
        background-color: transparent;
      }
      &:hover {
        .title {
          @include rtl {
            transform: translateX(map-get($spacers, 1) * -1);
          }
          @include ltr {
            transform: translateX(map-get($spacers, 1));
          }
          color: $color-accent-dark;
        }
      }

      .title {
        transition: transform 200ms ease-out;
      }
    }

    &.selected {
      &::after {
        @include rtl {
          transform: translateX(4px);
        }
        @include ltr {
          transform: translateX(-4px);
        }
      }
      .title {
        color: $color-accent-dark;
        font-weight: $font-weight-bold;
      }
    }
    &::after {
      content: '';
      display: block;
      width: $-selected-arrow-size;
      height: $-selected-arrow-size;
      border-top: $-selected-arrow-size / 2 solid transparent;
      border-bottom: $-selected-arrow-size / 2 solid transparent;
      position: absolute;
      top: calc(50% - #{$-selected-arrow-size / 2});
      @include rtl {
        border-left: $-selected-arrow-size / 2 solid $color-divider-normal;
        border-right: $-selected-arrow-size / 2 solid transparent;
        left: $-padding-x * -1;
        transform: translateX($-selected-arrow-size / 2 * -1 - 5px);
      }
      @include ltr {
        border-right: $-selected-arrow-size / 2 solid $color-divider-normal;
        border-left: $-selected-arrow-size / 2 solid transparent;
        right: $-padding-x * -1;
        transform: translateX($-selected-arrow-size / 2 + 5px);
      }
      transition: transform 200ms ease-out;
    }

    .title {
      display: block;
      transform: translateX(0);
    }

    .actions {
      position: absolute;
      top: calc(50% - #{$-icon-size / 2});
      @include rtl {
        left: 0;
      }
      @include ltr {
        right: 0;
      }
      @extend .clearfix;
      .action {
        cursor: pointer;
        width: $-icon-size;
        height: $-icon-size;
        @include rtl {
          float: left;
          margin-right: map-get($spacers, 2);
        }
        @include ltr {
          float: right;
          margin-left: map-get($spacers, 2);
        }
      }
    }
  }
}
