@import 'utils/variables';
@import 'utils/mixins';

.icon-inline {
  box-sizing: content-box;
  display: inline-block;
  > svg {
    margin-top: -0.1em;
  }
}

.icon-block {
  box-sizing: content-box;
  display: block;
  > svg {
    display: block;
  }
}

