@import 'overrides';
@import 'bootstrap/bootstrap';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/misc';
@import 'icons';

@import 'layout/master-layout';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content-scaffold';
@import 'layout/content';
@import 'layout/login-page';

@import 'components/subjects-list';
@import 'components/iconic-message';
@import 'components/resource-items';
@import 'components/cards';

body, html {
  background-color: $color-main-background;
  min-height: 100vh;
}

label {
  color: $color-primary-gray-darker;
  @extend .ml-2;
}

.form-group {
  .invalid-feedback, .valid-feedback {
    display: block !important;
    @extend .ml-2;
  }
  &:focus-within {
    label {
      color: $color-accent-dark;
    }
  }
}

a {
  color: $color-accent-washed;
  &:hover {
    color: $color-accent-base;
  }
}

.row {
  &:not(.no-gutter) {
    margin-top: $grid-gutter-width / -2;
    margin-bottom: $grid-gutter-width / -2;
    > .col,
    > [class*="col-"] {
      padding-top: $grid-gutter-width / 2;
      padding-bottom: $grid-gutter-width / 2;
    }
  }
}
