@import 'overrides';
@import 'bootstrap/bootstrap';
@import 'utils/variables';
@import 'utils/functions';
@import 'utils/mixins';
@import 'utils/misc';
@import 'icons';

@import 'layout/master-layout';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/content-scaffold';
@import 'layout/content';
@import 'layout/login-page';

@import 'components/subjects-list';
@import 'components/iconic-message';

body, html {
  background-color: $color-main-background;
  min-height: 100vh;
}

label {
  color: $color-primary-gray-darker;
  @extend .ml-2;
}

.form-group {
  .invalid-feedback, .valid-feedback {
    display: block !important;
    @extend .ml-2;
  }
  &:focus-within {
    label {
      color: $color-accent-dark;
    }
  }
}

a {
  color: $color-accent-washed;
  &:hover {
    color: $color-accent-base;
  }
}

.card {
  border: none;
  box-shadow: 0 11px 11px -6px $color-divider-normal, 0 2px 6px 1px $color-divider-normal;
  overflow: hidden;
}
