@import 'utils/variables';

@debug mix(black, white);
$font-family-sans-serif: 'Dubai';
$font-weight-normal: normal;
$font-weight-bold: bold;
$theme-colors: (
  'primary': $color-accent-base,
);
$body-color: $color-primary-gray-darker;
$input-placeholder-color: $color-primary-gray-dark;
$input-border-radius: map-get($radius, 'input');
$card-border-radius: map-get($radius, 'card');
$card-bg: $color-primary-white;
$custom-select-border-radius: $input-border-radius;
$hr-border-color: $color-primary-gray;
$spinner-border-width: .2em;
$spinner-border-width-sm: .15em;
