<app-content-explorer-scaffold title="الأنشطة الورقية" [showGradeLink]="true">
  <div class="resource-section" *ngFor="let section of sections">
    <h3 class="resource-section-title">{{ section.title }}</h3>
    <section class="card" *ngFor="let card of section.cards">
      <div class="card-header">{{ card.title }}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let assignment of card.items">
            <div class="resource-item">
              <div class="resource-icon"><app-icon name="paper"></app-icon></div>
              <div class="resource-label">{{ assignment.name }}</div>
              <button type="button" class="resource-action icon-btn ml-auto"><app-icon name="download"></app-icon></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</app-content-explorer-scaffold>
