<app-content-explorer-scaffold [title]="title" [showGradeLink]="true">
  <app-loading-indicator #loadingIndicator [inline]="false" size="lg"></app-loading-indicator>
  <div class="resource-section" *ngFor="let section of sections">
    <h3 class="resource-section-title">{{ section.title }}</h3>
    <section class="card" *ngFor="let card of section.cards">
      <div class="card-header">{{ card.title }}</div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of card.items">
            <div class="resource-item">
              <div class="resource-icon"><app-icon [name]="item.icon"></app-icon></div>
              <div class="resource-label">{{ item.name }}</div>
              <button type="button" class="resource-action btn icon-btn ml-auto" (click)="onItemClick(item)"><app-icon name="download"></app-icon></button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</app-content-explorer-scaffold>
