<div class="landing">
  <div class="landing-wrapper">
    <div class="title-wrapper">
      <h1 class="title">منصة هادف</h1>
      <h2 class="subtitle">للـحــاســـب</h2>
    </div>

    <div class="landing-content">
      <div class="row">
        <div class="col-md-4 col-sm-12" *ngFor="let item of grades">
          <a class="card raise-when-hover" [routerLink]="item.path" *ngIf="!item.disabled">
            <ng-container *ngTemplateOutlet="cardContent;context:{item: item}"></ng-container>
          </a>
          <a class="card disabled" *ngIf="item.disabled">
            <ng-container *ngTemplateOutlet="cardContent;context:{item: item}"></ng-container>
          </a>
        </div>
      </div>
    </div>

  </div>

  <footer class="footer">
    <app-ui-footer></app-ui-footer>
  </footer>
</div>

<ng-template #cardContent let-item="item">
  <div class="card-header">{{ item.label }}</div>
  <div class="card-body">
    <ng-container *ngIf="!item.disabled">{{ item.number }}</ng-container>
    <ng-container *ngIf="item.disabled">
        <svg viewBox="0 0 1 1" xmlns="http://www.w3.org/2000/svg" height="100%">
          <defs>
            <linearGradient id="a" x1="0" x2="1" gradientUnits="userSpaceOnUse" y1="0" y2="0"
            gradientTransform="rotate(90 101.5 150.5) scale(332)">
            <stop offset="0%" stop-color="#DCA93F" />
            <stop offset="100%" stop-color="#FD5" />>
          </linearGradient>
        </defs>
        <g transform="translate(0 .08459) scale(.00252)">
          <path fill="url(#a)" fill-rule="evenodd" transform="translate(-47.5117-48.7584) scale(.9814)"
          d="M210.49 74.337c8.64-13.43 23.52-21.55 39.5-21.55 15.97 0 30.85 8.11 39.5 21.54 41.52 64.48 106.82 165.868 150.85 234.23 9.31 14.45 9.98 32.84 1.74 47.93 -8.24 15.09-24.06 24.488-41.25 24.488 -85.6 0-216.12 0-301.708 0 -17.2 0-33.02-9.4-41.25-24.488 -8.24-15.1-7.57-33.49 1.74-47.94C103.64 240.17 168.93 138.79 210.46 74.3Zm39.63 253.67c-5.32 0-9.97-1.73-13.93-5.17 -3.97-3.45-5.96-8.27-5.96-14.46 0-5.41 1.89-10.01 5.69-13.8 3.79-3.8 8.43-5.69 13.92-5.69s10.18 1.89 14.06 5.68c3.88 3.79 5.82 8.39 5.82 13.79 0 6.1-1.97 10.89-5.89 14.38 -3.93 3.48-8.51 5.23-13.732 5.23Zm-14.52-86.06l-4.19-62.65c-.79-12.21-1.18-20.97-1.18-26.29 0-7.24 1.89-12.89 5.69-16.94 3.79-4.06 8.78-6.09 14.97-6.09 7.49 0 12.51 2.59 15.04 7.78 2.52 5.18 3.79 12.66 3.79 22.42 0 5.75-.31 11.59-.92 17.52l-5.63 64.47c-.61 7.67-1.92 13.55-3.93 17.65 -2.01 4.09-5.32 6.14-9.94 6.14 -4.71 0-7.98-1.99-9.81-5.96 -1.84-3.97-3.14-10.01-3.93-18.12Z" />
        </g>
      </svg>
      <div>قيد التطوير</div>
    </ng-container>
  </div>
</ng-template>
