<header class="header">
  <div class="brand">
    <a class="brand-badge" routerLink="/">منصة هادف</a>
  </div>
  <nav class="nav-menu">
    <ul>
      <li class="menu-item" [ngClass]="{ 'has-submenu': item.menu?.length }" *ngFor="let item of (layoutService.getMenu() | async)">
        <span class="menu-item-label"><a class="menu-link" [routerLink]="item.url">{{ item.label }} <app-icon *ngIf="item.menu?.length" name='chevron-down' [size]="20"></app-icon></a></span>
        <ul class="submenu" *ngIf="item.menu?.length">
          <li class="submenu-item" *ngFor="let subitem of item.menu">
            <a class="submenu-link" [routerLink]="subitem.url" *ngIf="!subitem.disabled">{{ subitem.label }}</a>
            <a class="submenu-link disabled" *ngIf="subitem.disabled">{{ subitem.label }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="login-item" (click)="loginPopupIsShown = !loginPopupIsShown">
    <span class="login-item-label" [ngClass]="{ 'active': loginPopupIsShown }">
      <app-icon name='chevron-down' [size]="20"></app-icon>
      <ng-template [ngIf]="!userProfile">تسجيل الدخول</ng-template>
      <ng-template [ngIf]="userProfile">{{ userProfile.fullName }}</ng-template>
    </span>
  </div>
  <div class="login-popup-wrapper underlay-absolute" *ngIf="loginPopupIsShown">
    <div class="login-popup" *ngIf="userProfile">
      <button type="button" class="btn btn-primary w-100" (click)="logout()">تسجيل الخروج</button>
    </div>
    <form class="login-popup" (clickOutside)="loginPopupIsShown = false" [formGroup]="loginForm" *ngIf="!userProfile">
      <input type="text" class="form-control mb-2" placeholder="اسم المستخدم" formControlName="username">
      <input type="password" class="form-control mb-2" placeholder="كلمة المرور" formControlName="password">
      <div class="ml-1 custom-control custom-checkbox mb-3 mt-3">
        <input type="checkbox" class="custom-control-input" id="remember" [value]="true" formControlName="remember">
        <label class="custom-control-label" for="remember">ابق متصلًا</label>
      </div>
      <div class="d-flex">
        <a class="btn btn-outline-primary flex-even mr-1" routerLink="/register">إنشاء حساب</a>
        <button type="button" class="btn btn-primary flex-even ml-1" (click)="login()" [disabled]="loading.login">تسجيل الدخول</button>
      </div>
    </form>
    <div class="underlay transparent" (click)="loginPopupIsShown = false"></div>
  </div>
</header>
<main class="main-wrapper">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <app-ui-footer></app-ui-footer>
</footer>
